<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <!-- <div class="ui centered inverted equal height stackable grid"> -->
       <div class="ui equal width internally grid">
        <div class="center aligned row">
          <div class="column">
            <a href="https://twitter.com/mooveprince" target="_blank" class="item"><i class="fab fa-twitter" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
          <div class="column">
              <a href="mailto:mooveprince2@gmail.com" target="_blank" class="item"><i class="fas fa-envelope" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
          <div class="column">
              <a href="https://www.linkedin.com/in/moovendhan1/" target="_blank" class="item"><i class="fab fa-linkedin" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
        </div>
      </div>
    </div>
    
  </div>