<div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Certifications</h1>
      </div>
    </div>
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div *ngFor = "let certificate of certifications" class="column">
            <h3> {{ certificate.name }}</h3>
            <p>
              <img src="{{ certificate.icon }}" class="ui centered image"> 
            </p>
          </div>
        </div>
      </div>
</div>