<div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Certifications</h1>
      </div>
    </div>
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
              <h3>Certified Java Developer</h3>
              <p>
                <img src="assets/javacerti.png" class="ui centered image"> 
                <span></span>
              </p>
          </div>
          <div class="column">
              <h3>Carrier Ethernet Certified Professional</h3>
              <p>
                <img src="assets/MEFcertifi.png" class="ui centered image">
              </p>
          </div>
        </div>
      </div>
</div>