  <div class="ui vertical inverted sidebar menu left" [class.visible]="mobile== true" (click)="checkMobile()">
      <a *ngFor= "let menu of menus" class="item" href="{{menu.href}}"> {{ menu.name }} </a>
  </div>

<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu" >
          <a class="toc item" (click)="checkMobile()">
              <i class="sidebar icon"></i>
          </a>
      </div>
      <div class="ui large fixed secondary inverted pointing menu">
        <div class="item">
            <a class="item" href="#">
                <i class="fas fa-laptop-code" aria-hidden="true" style="color:#DDDDDD; font-size:1.7em;"></i>
              </a>
        </div>
        
        <div class="right item">
            <a *ngFor= "let menu of menus" class="item" href="{{menu.href}}"> {{ menu.name }} </a>
        </div>
      </div>
    </div>

    <app-banner></app-banner>

  </div>