<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
      <a class="active item" href="#">Home</a>
      <a class="item" href="#skill">Skills</a>
      <a class="item" href="#project">Projects</a>
      <a class="item" href="#side-project">Side Projects</a>
      <a class="item" href="#resume">Resume</a>
      <a class="item" href="#certificate">Certifications</a>
      <a class="item" href="#contact">Contact</a>
    </div>
  </div>
  
  <div class="ui vertical inverted sidebar menu left">
    <a class="active item" href="#">Home</a>
    <a class="item" href="#skill">Skills</a>
    <a class="item" href="#project">Projects</a>
    <a class="item" href="#side-project">Side Projects</a>
    <a class="item" href="#resume">Resume</a>
    <a class="item" href="#certificate">Certifications</a>
    <a class="item" href="#contact">Contact</a>
  </div>

<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large fixed secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
            <a class="item" href="#">
                <i class="fas fa-laptop-code" aria-hidden="true" style="color:#DDDDDD; font-size:1.7em;"></i>
              </a>
        </div>
        
        <div class="right item">
          <a class="active item" href="#">Home</a>
          <a class="item" href="#skill">Skills</a>
          <a class="item" href="#project">Projects</a>
          <a class="item" href="#side-project">Side Projects</a>
          <a class="item" href="#resume">Resume</a>
          <a class="item" href="#certificate">Certifications</a>
          <a class="item" href="#contact">Contact</a>
        </div>
      </div>
    </div>

    <app-banner></app-banner>

  </div>