<div class="ui large top fixed menu transition hidden">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Skills</a>
    <a class="item">Projects</a>
    <a class="item">Side Projects</a>
    <a class="item">Certifications</a>
    <a class="item">Resume</a>
    <a class="item">Contact</a>
  </div>
</div>

<div class="ui vertical inverted sidebar menu left">
  <a class="active item">Home</a>
  <a class="item">Skills</a>
  <a class="item">Projects</a>
  <a class="item">Side Projects</a>
  <a class="item">Certifications</a>
  <a class="item">Resume</a>
  <a class="item">Contact</a>
</div>

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large fixed secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
            <a class="item" href="#">
                <i class="fas fa-laptop-code" aria-hidden="true" style="color:#DDDDDD; font-size:1.7em;"></i>
              </a>
        </div>
        
        <div class="right item">
          <a class="active item">Home</a>
          <a class="item">Skills</a>
          <a class="item">Projects</a>
          <a class="item">Side Projects</a>
          <a class="item">Certifications</a>
          <a class="item">Resume</a>
          <a class="item">Contact</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        I'm Moovendhan Elanchezhiyan
      </h1>
      <h2>FullStack Developer</h2>
    </div>

  </div>

  <div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Skills</h1>
      </div>
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
              <h3>Java</h3>
              <div class="ui bulleted list">
                  <div class="item" style="text-align:left; font-size: 1.2em;">Enterprise application development using <b>Spring Framework</b></div>
                  <div class="item" style="text-align:left; font-size: 1.2em;">Microservice development using <b>Spring Boot and Spring Cloud </b></div>
              </div>
          </div>
          <div class="column">
              <h3>Javascript</h3>
              <div class="ui bulleted list">
                <div class="item" style="text-align:left; font-size: 1.2em;">Multiple Single Page applications using <b>Angular and CanJs</b></div>
                <div class="item" style="text-align:left; font-size: 1.2em;">Backend Development using <b>NodeJs</b></div>
              </div>
          </div>
          <div class="column">
              <h3>DevOps</h3>
              <div class="ui bulleted list">
                <div class="item" style="text-align:left; font-size: 1.2em;">Created and Managed CICD pipeline using <b>Jenkins, Screwdriver and Travis</b></div>
              </div>
          </div>
          <div class="column">
              <h3>Misc</h3>
              <div class="ui bulleted list">
                  <div class="item" style="text-align:left; font-size: 1.2em;">Well versed in writing complex <b>SQLs</b></div>
                  <div class="item" style="text-align:left; font-size: 1.2em;">Automation using <b>BASH and Python</b> Scripts</div>
                  <div class="item" style="text-align:left; font-size: 1.2em;">Exposure to <b>Elasticsearch</b></div>
                  <div class="item" style="text-align:left; font-size: 1.2em;">Web design using <b>Bootstrap and Semantic UI</b></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment container">
      <div class="ui middle aligned stackable grid">
        <div class="row">
          <h1 class="ui header">Projects</h1>
        </div>
        <div class="row">
            <div class="ui items">
                <div class="item">
                  <div class="content">
                    <div class="header">Arrowhead Valley Camp</div>
                    <div class="meta">
                      <span class="price">$1200</span>
                      <span class="stay">1 Month</span>
                    </div>
                    <div class="description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, maiores soluta obcaecati eius illum earum laudantium veniam nobis veritatis hic.</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">Buck's Homebrew Stayaway</div>
                    <div class="meta">
                      <span class="price">$1000</span>
                      <span class="stay">2 Weeks</span>
                    </div>
                    <div class="description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi est possimus vitae blanditiis, quas omnis temporibus, sapiente iusto ad ipsa optio dicta unde eius vero?</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">Astrology Camp</div>
                    <div class="meta">
                      <span class="price">$1600</span>
                      <span class="stay">6 Weeks</span>
                    </div>
                    <div class="description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum et aspernatur nam inventore magni nesciunt impedit asperiores esse sunt!</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

      </div>
  </div>

  <div class="ui vertical stripe segment container">
      <div class="ui middle aligned stackable grid">
        <div class="row">
          <h1 class="ui header">Side Projects</h1>
        </div>
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
              <div class="column">
                  <h3>TechFeedy - Webpage</h3>
                  <p>
                      <a href="http://www.techfeed.info/" target="_blank"><img src="assets/techfeed.png" class="ui centered image"></a>
                      <span>A site to gather trending topics from multiple sites like Hacker News, TechMeme, TechCrunch and Product Hunt</span>
                  </p>
              </div>
              <div class="column">
                  <h3>PathFinder - Alexa Skill</h3>
                  <p>
                    <a href="https://www.amazon.com/Moovendhan-Elanchezhiyan-Path-Finder/dp/B07B6RSFCJ"><img src="assets/pathfinder.png" class="ui centered image"> </a>
                    <span>Alexa skill shich helps customer to get the best ride between UBER and LYFT</span>
                  </p>
              </div>
              <div class="column">
                    <h3>Rupee Transfer - Alexa Skill</h3>
                    <p>
                      <a href="https://www.amazon.ca/Moovendhan-Elanchezhiyan-Rupee-Transfer/dp/B071NYYBPL"> <img src="assets/rupeetransfer.png" class="ui centered image"> </a>
                      <span>Alexa skill shich helps customer to get the better Forex between US Dollar and Indian Rupee</span>
                    </p>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="ui vertical stripe segment container">
      <div class="ui middle aligned stackable grid">
        <div class="row">
          <h1 class="ui header">Resume</h1>
        </div>
        <div class="ui text container">
            <div class="ui placeholder segment">
                <div class="ui icon header">
                  <i class="pdf file outline icon"></i>
                </div>
                <a class="assets/Moovendhan_Elanchezhiyan_resume.pdf" download>
                  <div class="ui primary button">Resume Download</div>
                </a>
            </div>
        </div>
      </div>
  </div>

  <div class="ui vertical stripe segment container">
      <div class="ui middle aligned stackable grid">
        <div class="row">
          <h1 class="ui header">Certifications</h1>
        </div>
      </div>
      <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
                <h3>Certified Java Developer</h3>
                <p>
                  <img src="assets/javacerti.png" class="ui centered image"> 
                  <span></span>
                </p>
            </div>
            <div class="column">
                <h3>Carrier Ethernet Certified Professional</h3>
                <p>
                  <img src="assets/MEFcertifi.png" class="ui centered image">
                </p>
            </div>
          </div>
        </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui centered inverted equal height stackable grid"> 
        <!-- <div class="ui equal width stackable internally grid"> -->
        <div class="center aligned row">
          <div class="column">
            <a href="https://twitter.com/mooveprince" target="_blank" class="item"><i class="fab fa-twitter" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
          <div class="column">
              <a href="mailto:mooveprince2@gmail.com" target="_blank" class="item"><i class="fas fa-envelope" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
          <div class="column">
              <a href="https://www.linkedin.com/in/moovendhan1/" target="_blank" class="item"><i class="fab fa-linkedin" aria-hidden="true" style="color:#DDDDDD; font-size:2em; text-align: center;"></i></a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>