<div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Side Projects</h1>
      </div>
      <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div *ngFor= "let sideProject of sideProjects" class="column">
              <h3> {{ sideProject.name }}</h3>
              <p>
                <a href= "{{sideProject.link}}" target="_blank">
                    <img src="{{sideProject.icon}}" class="ui centered image"> 
                </a>
                <span [innerHTML] = "sideProject.description" >  </span>
              </p>
            </div>
          </div>
        </div>
    </div>
</div>