<div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Resume</h1>
      </div>
      <div class="ui text container">
          <div class="ui placeholder segment">
              <div class="ui icon header">
                <i class="pdf file outline icon"></i>
              </div>
              <a class="assets/Moovendhan_Elanchezhiyan_resume.pdf" download>
                <div class="ui primary button">Resume Download</div>
              </a>
          </div>
      </div>
    </div>
</div>