<div class="ui vertical stripe segment container">
    <div class="ui middle aligned stackable grid">
      <div class="row">
        <h1 class="ui header">Projects</h1>
      </div>
      <div class="row">
          <div class="ui items">
            <div *ngFor="let project of projects" class="item">
                <div class="content">
                    <div class="header">{{ project.name }} - {{ project.company }}</div>
                    <div class="meta"><span class="role">{{ project.role }}</span></div>
                    <div class="meta"><span class="duration">{{ project.duration }}</span></div>
                    <div class="description">
                        <p style="white-space: pre-line"> {{ project.description }}</p>
                    </div>
                  </div>
              </div>
            </div>
      </div>

    </div>
</div>